<!DOCTYPE html>
<html lang="en">
<head>

	<!-- 
	Tyler Sheffield, Rai Martin, Allan Foote, Mikayla Randall
	Section 2
	Group 2-11
	Group Project 3 -->

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>BYU Ride Board</title>

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="One page parallax responsive HTML Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">


	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

	<!-- CSS
  ================================================== -->
	<!-- Themefisher Icon font -->
	<link rel="stylesheet" href="/plugins/themefisher-font/style.css">
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
	<!-- Lightbox.min css -->
	<link rel="stylesheet" href="/plugins/lightbox2/css/lightbox.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="/plugins/animate/animate.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="/plugins/slick/slick.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/loginstyles.css">
	<link rel="stylesheet" href="/css/ridestyles.css">

</head>
<body id="body">


	<!--
  Start Preloader
  ==================================== -->
	<div id="preloader">
		<div class='preloader'>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--
  End Preloader
  ==================================== -->

	<!--
Fixed Navigation
==================================== -->
	<header class="navigation fixed-top">
		<div class="container">
			<!-- main nav -->
			<nav class="navbar navbar-expand-lg navbar-light px-0">
				<!-- logo -->
				<a class="navbar-brand logo" href="/">
					<img loading="lazy" class="logo-default" src="/images/logo.svg" alt="logo" />
					<img loading="lazy" class="logo-white" src="/images/logo-white.svg" alt="logo" />
				</a>
				<!-- /logo -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
					aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navigation">
					<ul class="navbar-nav ml-auto text-center">
						<li class="nav-item ">
							<a class="nav-link" href="/">Home</a>
						</li>
						<% if(!user) { %>

							<li class="nav-item ">
								<a class="nav-link" href="/login">Login</a>
							</li>
							<% } else { %>

								<li class="nav-item ">
									<a class="nav-link" href="/rides">Find a Ride</a>
								</li>

								<li class="nav-item ">
									<a class="nav-link" href="/newride">Post a Ride</a>
								</li>

								<li class="nav-item ">
									<a class="nav-link" href="/account">My Account</a>
								</li>

								<li class="nav-item ">
									<a class="nav-link" href="/logout">Logout</a>
								</li>
								<% } %>


					</ul>
				</div>
			</nav>
			<!-- /main nav -->
		</div>
	</header>
	<!--
End Fixed Navigation
==================================== -->

	<main class="site-content" role="main" id="main-account">

		<div class="flex-container">
			<div class="toggle-button-wrapper">
				<div class="account-toggles">
					<svg aria-hidden="true" focusable="false" viewBox="0 0 48 48" role="img" width="2rem" height="2rem"
						fill="none">
						<path stroke="currentColor" stroke-width="3"
							d="M7.5 42v-6a7.5 7.5 0 017.5-7.5h18a7.5 7.5 0 017.5 7.5v6"></path>
						<path stroke="currentColor" stroke-width="3" d="M31.5 15a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0z"
							clip-rule="evenodd">
						</path>
					</svg>
					<p id="toggleButton" onclick="toggleSections()" class="toggle-p">My Account Details</p>

				</div>

				<div class="account-toggles">
					<img src="/images/car-outline.svg" alt="car outline" class="toggle-image">
					<p id="toggleButton2" onclick="toggleRides()" class="toggle-p">Joined Rides</p>
				</div>

				<div class="account-toggles">

					<svg fill="#000000" height="2rem" width="2rem" version="1.1" id="Layer_1"
						xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
						viewBox="0 0 512 512" xml:space="preserve">
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
						<g id="SVGRepo_iconCarrier">
							<g>
								<g>
									<path
										d="M256,0C114.842,0,0,114.842,0,256s114.842,256,256,256s256-114.842,256-256S397.158,0,256,0z M231.226,460.96 C137.152,449.658,62.342,374.848,51.04,280.774h143.717c6.704,16.554,19.915,29.767,36.469,36.469V460.96z M194.757,231.226H51.04 C63.318,129.027,150.546,49.548,256,49.548s192.682,79.479,204.96,181.677H317.243c-9.802-24.208-33.521-41.29-61.243-41.29 C228.278,189.935,204.559,207.018,194.757,231.226z M280.774,460.96V317.243c16.554-6.704,29.767-19.915,36.469-36.469H460.96 C449.658,374.848,374.848,449.658,280.774,460.96z">
									</path>
								</g>
							</g>
						</g>
					</svg>
					<p id="toggleButton3" onclick="toggleHostedRides()" class="toggle-p">My Rides</p>
				</div>


			</div>

			<section class="service-2 section">
				<div id="accountDetails" class="account-section">
					<!-- Render account details here -->
					<%- include('account-details.ejs', { allAccounts: allAccounts, user: user }) %>
				</div>
				<div id="rides" class="account-section" style="display:none;">
					<!-- Render rides here -->
					<%- include('account-rides.ejs', { rides: rides, user: user }) %>
				</div>

				<div id="rides-hosted" class="account-section" style="display:none;">
					<!-- Render rides here -->
					<%- include('account-driving.ejs', { hostedRides: hostedRides, user: user }) %>
				</div>


			</section>
		</div>


	</main>
	<footer id="footer" class="bg-one">
		<div class="top-footer">
			<div class="container">
				<div class="row justify-content-around">
					<div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
						<h3>about</h3>
						<p>At BYU Ride Board, we're dedicated to simplifying travel for students.
							<br>Our platform fosters
							safe, eco-conscious rides,
							connecting the BYU community.
							<br>With a focus on safety and seamless experiences, we're
							redefining shared journeys, making
							every ride an opportunity for connection and exploration.
						</p>
					</div>
					<!-- End of .col-sm-3 -->

					<div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
						<ul>
							<li>
								<h3>Our Services</h3>
							</li>
							<li><a href="/newRide">Post a Ride</a></li>
							<li><a href="/rides">Find a Ride</a></li>
						</ul>
					</div>
					<!-- End of .col-sm-3 -->


					<!-- End of .col-sm-3 -->


					<!-- End of .col-sm-3 -->

				</div>
			</div> <!-- end container -->
		</div>

	</footer> <!-- end footer -->





	<script>

		document.addEventListener('DOMContentLoaded', (event) => {
			if (window.location.hash === '#rides') {
				document.getElementById('accountDetails').style.display = 'none';
				document.getElementById('rides').style.display = 'block';
			}
			else if (window.location.hash === '#rides-hosted') {
				document.getElementById('accountDetails').style.display = 'none';
				document.getElementById('rides-hosted').style.display = 'block';
			}
		});


		function toggleSections() {
			let accountDetails = document.getElementById('accountDetails');
			let ridesHosted = document.getElementById('rides-hosted');
			let rides = document.getElementById('rides');

			if (accountDetails.style.display === 'none') {
				accountDetails.style.display = 'block';
				rides.style.display = 'none';
				ridesHosted.style.display = 'none';
			}
		}

		function toggleRides() {
			let rides = document.getElementById('rides');
			let accountDetails = document.getElementById('accountDetails');
			let ridesHosted = document.getElementById('rides-hosted');

			if (rides.style.display === 'none') {
				rides.style.display = 'block';
				accountDetails.style.display = 'none';
				ridesHosted.style.display = 'none';
			}
		}

		function toggleHostedRides() {
			let ridesHosted = document.getElementById('rides-hosted');
			let accountDetails = document.getElementById('accountDetails');
			let rides = document.getElementById('rides');


			if (ridesHosted.style.display === 'none') {
				ridesHosted.style.display = 'block';
				accountDetails.style.display = 'none';
				rides.style.display = 'none';
			}

		}


	</script>

	<!-- Main jQuery -->
	<script src="/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap4 -->
	<script src="/plugins/bootstrap/bootstrap.min.js"></script>
	<!-- Parallax -->
	<script src="/plugins/parallax/jquery.parallax-1.1.3.js"></script>
	<!-- lightbox -->
	<script src="/plugins/lightbox2/js/lightbox.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/plugins/slick/slick.min.js"></script>

	<!-- Smooth Scroll js -->
	<script src="/plugins/smooth-scroll/smooth-scroll.min.js"></script>


	<!-- Custom js -->
	<script src="/js/script.js"></script>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var editButtons = document.querySelectorAll('.edit-btn');

			editButtons.forEach(function (button) {
				button.addEventListener('click', function () {
					var userId = this.getAttribute('data-user-id');
					var editForm = document.getElementById('edit-form-' + userId);

					// Toggle the display of the edit form
					if (editForm.style.display === 'none') {
						editForm.style.display = 'table-row';
					} else {
						editForm.style.display = 'none';
					}
				});
			});

			// Add logic for saving changes here
			// ...
		});
	</script>

</body>

</html>