header {
    background-color: #303036;
}

label {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
}

.nav-link {
    color: black;
}

.rideGrid {
    display: grid;
    grid-template-columns: auto auto;
}

.ride-col-1 {
    grid-column: 1;
}

p {
    margin-bottom: 0.02rem;
}

.login-row {
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2.25rem;
    background-color: #fffaff;
}